main a {
  color: #7d8b6b80;
}
/* changes the the header*/
header {
  background-color: black;

  background-size:auto;
  align-items: center;
}
/*div css*/
div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  padding-top: 50px;
  /* padding-left: 1px; */
  width: 100%;
  height: 140px;
  background-color: #252525;
  /* background-size: auto 100%; */
  font-size: 58px;
  text-align: center;
  text-size-adjust: 200px;
  line-height: 30px;
  font-family: "Pangolin", sans-serif;
  font-weight: Bold;
  font-style: normal;


  /* SUPER DUPER IMPORTANT DO NOT DELETE */
  height:auto;
}
/*images css*/
img {
  height: 100%;
}

/* nav css */
nav ul{
  /* background-color: #e91111; */
  list-style: none;
  text-align: center;
  /* display: flex;
  justify-content: center;
  flex-direction: row; */
  padding: 0px;
  margin: 0px;
}

nav ul li{
  display: inline;
  /* padding: 16px; */
  text-align: center;
}

nav ul li img {
  height: 80px;  
  width: auto; 
  display: block; 
}



.text-container {
  margin-left: 20px;
}
/* changes the size and the font*/
h2 {
  color: #000000;
  font-size: 58px;
  text-size-adjust: 200px;
  line-height: 30px;
  font-family: "Pangolin", sans-serif;
  font-weight: Bold;
  font-style: normal;
  text-shadow: gray;
}
/* changes the color and the phont and the size*/
p {
  color: #000000;
  font-size: 28px;
  text-size-adjust: 200px;
  line-height: 30px;
  font-family: "Pangolin", sans-serif;
  font-weight: Bold;
  font-style: normal;
  text-shadow: gray;
}
/*body changes direction and the color of the text*/
.body_content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  /* border: 2px solid #4e462c; */
  background-color: #ffffff;
  max-width: 1224px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}


figure {
  text-align: center;
}

/*main css*/
main {
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px;
}

#pictures {
  padding: 0px;
  margin: 0px;
  border: none;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

footer {
	font-family: "Open Sans", sans-serif;
	height: 28px;
  margin: 30px 0 0 -10px;
	padding: 10px;
  right: 5px;
	width: 100.8%;
	color: #000000;
	background: #dddddd;
	position: relative;
	display: flex;	
}

/* flexbox css */
@media screen and (max-width: 1080px) {
	nav ul div {
    display:flex;
		flex-direction: column; 
    word-spacing: normal;

	}
  nav ul div li{
    padding-bottom: 10px;
  }

}

@media screen and (max-width: 720px) {
	nav ul{
        word-spacing: normal;	}
}
